@import url(../css/general.css);



.container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}

.toolbar {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #f9f9f9;
}

.toolbar select, .toolbar button {
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
}

.toolbar button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar button i {
    margin-right: 2px;
}

.editor {
    /* width: 100%; */
    height: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    resize: none;
    overflow-y: auto;
/*     background-color: #f7f7f7;
 */    color: var(--ico-btn-color);
    /* border-radius: 0px 0px 12px 12px; */
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--ico-btn-color);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--ico-btn-color);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label, .input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--font-color);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.footer {
    font-size: 12px;
    color: var(--ico-btn-color);
    margin-top: 5px;
}

.footer button {
    width: 10%;
    height: 3%;
    background: var(--ico-btn-color);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: var(--font-color);
    font-weight: 500;
}

.footer #sendTicketButton {
    border-radius: 6px 6px 11px 6px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 13px;
    text-decoration: none;
    display: inline;
    width: 100%;
    text-align: left;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.editor p, .editor h1, .editor h2, .editor h3, .editor h4, .editor h5, .editor h6 {
    margin: 0;
}

/* #red {
    width: 10px;
    height: 10px;
    background-color: red;
}

#green {
    width: 10px;
    height: 10px;
    background-color: green;
}

#blue {
    width: 10px;
    height: 10px;
    background-color: blue;
}

#yellow {
    width: 10px;
    height: 10px;
    background-color: yellow;
}

#lightgreen {
    width: 5%;
    height: 5%;
    background-color: lightgreen;
}

#lightblue{
    width: 5%;
    height: 5%;
    background-color: lightblue;   
}
 */